.cardWrapper {
  position: absolute;
  top: 10;
  right: 450px;
  width: 40%;
  border: none;
}

.card {
  opacity: 0.9;
  box-shadow: 0 4px 3px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 300ms ease;
}

.card:hover {
  opacity: 1;
  box-shadow: 0 4px 3px 3 rgb(0 0 0 / 0.3), 0 1px 2px -1px rgb(0 0 0 / 0.3);
}

@media(max-width: 920px) {
  .cardWrapper {
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 75%
  }

  .card {
    font-size: 18px !important;
  }
}

@media(max-width: 480px) {
  .card {
    font-size: 16px !important;
  }
}

@media(max-width: 475px) { 
  .card {
    font-size: 13px !important;
  }
}