/* .features {
  display: flex;
} */

.button {
  color: white;
  background-color: #13592a;
  border-radius: 8px;
  padding: 12px 48px;
  height: 48px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
  text-align: center;
}

.button:hover {
  color: black;
  transform: scale(1.01);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 8px !important;
  /* flex-wrap: wrap; */
  font-family: 'DM Sans';
}

.content > a {
  margin-left: 8px;
  text-decoration: none;
}

.contentText {
  width: 40%;
}

@media (max-width: 1010px) {
  .content {
    padding: 20px !important;
  }

  .contentText {
    width: 100%;
    padding: 2px;
    margin-bottom: 14px !important;
  }
}

@media (max-width: 600px) {
}
