.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > h3 {
  text-align: center;
}

.card {
  padding: 24px 0;
  padding-bottom: 80px;
}

@media (max-width: 1010px) {
  .card > ul > li {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .image {
    display: none;
  }
}
