.body {
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.body > h1 {
  font-size: 60px;
  color: #0c79be;
}

.body > p {
  width: 75%;
  max-width: 640px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  
}

.first {
  width: 75%;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #eeeeee;
  padding: 10px 30px;
}

.personalInfo {
  width: 75%;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #f7f7f7;
  padding: 10px 30px;
}

.offers {
  width: 75%;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #eeeeee;
  padding: 10px 30px;
}

.protection {
  width: 75%;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #f7f7f7;
  padding: 10px 30px;
}

.last {
  width: 75%;
  max-width: 900px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #eeeeee;
  padding: 10px 30px;
}