.nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 4px 60px;
  background-color: #fff;
}

.nav > div > nav {
  width: 75%;
}

.nav > div > nav > a {
  font-weight: 500;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
  margin: 0 24px;
  text-align: center;
  max-width: 20%;
}

.nav > div > nav > a:hover {
  color: #0c79be;
  transform: scale(1.01);
}
.nav > div > img {
  padding: 12px 0;
  object-fit: fill;
  width: 65px;
}
