.links {
  margin-top: 32px;
  font-family: sans-serif;
}
.links > a {
  font-size: 18px !important;
  cursor: pointer;
  transition: all 400ms ease;
  margin: 0 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > a:last-child {
  margin-right: 0;
}

.links > a:hover {
  color: #13592a;
  opacity: 0.9;
  transform: translateY(-2px);
}

.footer {
  height: 90px !important;
  position: relative;
}

.image {
  height: 80%;
  /* width: 50%; */
  margin-bottom: 24px;
  border-radius: 8px;
}

@media(max-width: 1065px) {
  .links {
    align-items: center;
    justify-content: center;
  }
}

@media(max-width: 555px) {
  .links > a {
    font-size: small !important;
  }

  .links {
    width: 80%;;
  }
}

