.blogWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


@media(max-width: 775px) {
  .blogWrapper {
    width: 75%;
  }
}