.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  text-align: center;
}


@media(max-width: 920px) {
  .contentWrapper {
    margin-bottom: 240px;
  }
}

@media(max-width: 520px) {
  .contentWrapper {
    margin-bottom: 300px;
  }
}

@media(max-width: 479px) {
  .contentWrapper {
    margin-bottom: 480px;
  }

  .featured {
    margin-bottom: 200px;
  }
}