.swipe {
  /* width: 90%; */
  /* padding: 0 16px; */
}

.testimonialsWrapper {
  /* width: 95%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.testimonials {
  width: 95%;
}

.swipeWrapper {
  
}